/src/CCDModInstaller.WPF/.vscode
/src/CCDModInstaller.WPF/bin
/src/CCDModInstaller.WPF/obj
/src/CCDModInstaller.WPF/CCDModInstaller.WPF.csproj.user
/src/CCDModInstaller.WPF/CCDModInstaller.WPF.csproj
